<aside class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
  <div class="slimContent">
    <% if(theme.profile.skills) { %>
    <div class="widget">
      <h3 class="widget-title"><%= __('profile.skill') %></h3>
      <div class="widget-body">
        <ul class="skill-list lh-2x">
          <% for(var i in theme.profile.skills) { %>
          <li class="clearfix">
            <span><%= i %></span>
            <span class="pull-right"><%- theme.profile.skills[i] %></span>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
    <% if(theme.profile.labels) { %>
    <div class="widget">
      <h3 class="widget-title"><%= __('profile.label') %></h3>
      <div class="widget-body">
        <% for(var i in theme.profile.labels) { %>
        <span class="label label-default mb"><%- theme.profile.labels[i] %></span>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</aside>
